html,
body {
  margin: 0;
  padding: 0;
  background: #1b1924;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

.container {
  margin: 0 auto;
  max-width: 317px;

  display: flex;
  flex-direction: column;
}

img {
  margin: 51px auto 17px auto;
  width: 90px;
}

h1 {
  margin: 0;
  padding: 0 0 19px 0;
  text-align: center;
  font-size: 25px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

textarea {
  box-sizing: border-box;
  padding: 12px 15px;
  margin-bottom: 9px;
  width: 317px;
  height: 118px;
  font-family: inherit;
  font-size: 15px;
  font-weight: 400;
  border-radius: 8px;
  border: none;
  resize: none;
  background: #444059;
  color: #fff;
}

input {
  box-sizing: border-box;
  padding: 6px;
  margin-bottom: 9px;
  font-family: inherit;
  font-weight: 400;
  font-size: 15px;
  width: 152.852px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: #444059;
  color: #fff;
  text-align: center;
}

/* textarea:focus,
input:focus {
  outline: 0;
} */

button {
  padding: 20px;
  margin-bottom: 24px;
  font-size: 22px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 8px;
}

h2 {
  margin: 0;
  margin-bottom: 19px;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  padding: 13px 15px;
  margin-bottom: 13px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  background: #fff;
  /* color: #8f8f8f; */
  color: #1b1924;
  position: relative;
}

button:hover,
ul li:hover {
  cursor: pointer;
  background: #e6e6e6;
}

.bold {
  font-weight: 700;
}

p {
  margin: 13px 0 9px 0;
}

.like-box {
  color: #000;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
}

.like-box:hover {
  font-size: 20px;
}
